<a href="https://colab.research.google.com/github/Epvargas/Elyse-Python-Course/blob/main/Elyse_Python_Exercises_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Or text
b = "This is some text"
print(b)

This is some text

In [ ]:
# Float variable (Non integer digits)
a = 5.0
print(a)
type (a)
print(type(a))

5.0
<class 'float'>

In [ ]:
# Boolean variable (True or False)
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
# string variables
x = "1"
y = "2"
z = x + y
print(z)
print(type(z))

12
<class 'str'>

In [ ]:
# A Simple array or integers
a = [1,2,3]
print(a)

[1, 2, 3]

In [ ]:
# Storing variables of different types is possible -- Un arreglo
b =  ["Text", 4, 2.5]
print(b)

['Text', 4, 2.5]

In [ ]:
# Indexing Lists or accessing specific variables/locations in the list

# How to print the first element?
print(a[0])
print(a[1])
print(a[2])
# Note lists always start at index or position 0, so a list that holds 3 numbers can be indexed with 0,1 & 2

1
2
3

In [ ]:
print(b[0])
print(b[1])
print(b[2])

b
type(b)

Text
4
2.5

list

In [ ]:
# Storing more elements onto your list using *apend*

a.append(4)
print(a)

print(len(a))

[1, 2, 3, 4, 4]
5

In [ ]:
# Changing the value of an element in a list

a[3] = 5
print(a)

[1, 2, 3, 5, 4]

In [ ]:
pwd

'/content'

In [ ]:
# Changing the value of an element in a list

a[4] = 1
print(a)

len (a)

[1, 2, 3, 5, 1]

5

In [ ]:
# Slicing lists is a technique used to get elements from, before or between different indices

print(a)

print("All elelemts: ", a[:])
print("All elements from the 3rd position onward: ", a[2:])
print("All elements between the 2nd and 4th position: ", a[1:3])
print("All elements before the last postion", a[:-1])

# Very useful guide: --- Importante a tener en cuenta

#a[start:stop]  # items start through stop-1
#a[start:]      # items start through the rest of the array
#a[:stop]       # items from the beginning through stop-1
#a[:]           # a copy of the whole array

[1, 2, 3, 5, 1]
All elelemts:  [1, 2, 3, 5, 1]
All elements from the 3rd position onward:  [3, 5, 1]
All elements between the 2nd and 4th position:  [2, 3]
All elements before the last postion [1, 2, 3, 5]

In [ ]:
# Creating a dictionary {"Key": "Value"}
country_info = {"Country Name": "Japan", 
                "capital": "Tokyo"} 

#country_info = {"Country Name": ["Japan", "Canada"], "capital": ["Tokyo", "Ottawa"]} 

print(country_info)

print(country_info["Country Name"])
print(country_info["capital"])

{'Country Name': 'Japan', 'capital': 'Tokyo'}
Japan
Tokyo

In [ ]:
# We can store multiple values and easily add information to our dictionary

country_info['population'] = '126.8M'
print(country_info)

{'Country Name': 'Japan', 'capital': 'Tokyo', 'population': '126.8M'}

In [ ]:
# We can also change values easily

country_info['population'] = '100M'
print(country_info)

{'Country Name': 'Japan', 'capital': 'Tokyo', 'population': '100M'}

In [ ]:
# Values can be of any data type

country_info['regions'] = ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
print(country_info)

{'Country Name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']}

In [ ]:
# Values can be of any data type - Even Dictionaries, these are called nested dictionaries

country_info['health'] = {"life_expectancy": 84.1, "birth_rate": 1.44}
print(country_info)

{'Country Name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

In [ ]:
# Accessing data in our nested dictionary

country_info['health']['life_expectancy']

84.1

In [ ]:
country_info.keys()
print (country_info.keys())
#country_info.values()
print (country_info.values())

print (country_info.items())

dict_keys(['Country Name', 'capital', 'population', 'regions', 'health'])
dict_values(['Japan', 'Tokyo', '100M', ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], {'life_expectancy': 84.1, 'birth_rate': 1.44}])
dict_items([('Country Name', 'Japan'), ('capital', 'Tokyo'), ('population', '100M'), ('regions', ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']), ('health', {'life_expectancy': 84.1, 'birth_rate': 1.44})])

In [ ]:
country_info

for key, value in country_info.items():
    print(key, value)

Country Name Japan
capital Tokyo
population 100M
regions ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
health {'life_expectancy': 84.1, 'birth_rate': 1.44}

In [ ]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'CompSci']

In [ ]:
plt.plot([1, 2, 3, 4])
plt.ylabel('vertical')
plt.xlabel('horizontal')
plt.show()

NameError: ignored